<?xml version="1.0" encoding="utf-8"?>
<manifest 
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.mcal.ModdedPE"
	android:installLocation="preferExternal"
	android:versionCode="34"
	android:versionName="@string/app_version">
	
	<uses-sdk android:minSdkVersion="14"
		android:targetSdkVersion="22" />
	<uses-feature android:name="android.hardware.touchscreen"
		android:required="false" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

	<application 
		android:hasCode="true"
		android:debuggable="false"
		android:icon="@drawable/ic_launcher"
		android:name="com.mcal.ModdedPE.ModdedPEApplication"
		android:label="@string/app_name"
		android:largeHeap="true" >

		<meta-data
			android:name="xperiaplayoptimized_content"
			android:resource="@string/xperiaplayoptimized_content" />
        <meta-data
			android:name="game_display_name"
			android:resource="@string/app_name" />
        <meta-data
			android:name="game_icon"
			android:resource="@drawable/ic_launcher" />
        <meta-data
			android:name="com.facebook.sdk.ApplicationId"
			android:value="@string/facebook_app_id" />
        <meta-data
			android:name="net.hockeyapp.android.appIdentifier"
			android:value="@string/hockeyapp_android_id" />

		<activity
			android:name="com.mcal.ModdedPE.app.MainActivity"
			android:theme="@style/AppTheme"
			android:label="@string/main_title"
			android:screenOrientation="sensorLandscape">
        </activity>

		<activity
			android:name="com.mcal.ModdedPE.app.SplashesActivity"
			android:theme="@style/FullScreenTheme"
			android:screenOrientation="sensorLandscape">

			<intent-filter>
                <action
					android:name="android.intent.action.MAIN" />
                <category
					android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<activity
			android:theme="@style/FullScreenTheme"
			android:label="@string/app_name"
			android:name="com.mcal.ModdedPE.app.MinecraftActivity"
			android:debuggable="false"
            android:excludeFromRecents="false"
			android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:configChanges="locale|fontScale|keyboard|keyboardHidden|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
            android:alwaysRetainTaskState="true">

			<meta-data
				android:name="android.app.lib_name"
				android:value="pesdk-game-launcher" />

			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="minecraft" />
			</intent-filter>

        </activity>

		<activity
			android:name="com.mcal.ModdedPE.app.AboutActivity"
			android:theme="@style/AppTheme"
			android:label="@string/about_title"
			android:screenOrientation="sensorLandscape">
        </activity>

		<activity
			android:name="com.mcal.ModdedPE.app.NModDescriptionActivity"
			android:theme="@style/AppTheme"
			android:screenOrientation="sensorLandscape">
        </activity>

		<activity
			android:name="com.mcal.ModdedPE.app.NModFilePickerActivity"
			android:theme="@style/AppTheme"
			android:label="@string/nmod_picker_file_title"
			android:screenOrientation="sensorLandscape">
        </activity>

		<activity
			android:name="com.mcal.ModdedPE.app.NModPackagePickerActivity"
			android:theme="@style/AppTheme"
			android:label="@string/nmod_picker_package_title"
			android:screenOrientation="sensorLandscape">
        </activity>

		<activity
			android:name="com.mcal.ModdedPE.app.NModLoadFailActivity"
			android:theme="@style/AppTheme"
			android:launchMode="singleTask"
			android:screenOrientation="sensorLandscape">
        </activity>

		<activity
			android:name="com.mcal.ModdedPE.app.PreloadActivity"
			android:theme="@style/FullScreenTheme"
			android:label="@string/prestart_title"
			android:screenOrientation="sensorLandscape">
        </activity>

		<activity
			android:theme="@style/AppTheme"
			android:icon="@drawable/mcd_add_pack"
			android:screenOrientation="sensorLandscape"
			android:name="com.mcal.ModdedPE.app.ImportNModActivity"
			android:label="@string/import_nmod_title" >
			
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file"
					android:host="*"
					android:mimeType="*/*"
					android:pathPattern=".*\\.mcnmod"/>
			</intent-filter>
			
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file"
					android:host="*"
					android:mimeType="*/*"
					android:pathPattern=".*\\.zip"/>
			</intent-filter>
			
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file"
					android:host="*"
					android:mimeType="*/*"
					android:pathPattern=".*\\.apk"/>
			</intent-filter>
			
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file"
					android:host="*"
					android:mimeType="*/*"
					android:pathPattern=".*\\.nmod"/>
			</intent-filter>
			
		</activity>
		
    </application>

</manifest>
